<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>디렉티브 연습</title>
</head>
<body>
    <div id="app">
        <a v-if="flag">두잇</a>
        <ul>
            <li v-for="system in system2">{{ system }}</li>
        </ul>
        <p v-show="flag">두잇2</p>
        <h5 v-bind:id="uid">뷰 입문서</h5>
        <button v-on:click="popupAlert">경고 창 버튼</button>
    </div>

    <script src="./js/vue.js"></script>
    <script>
        new Vue({
            el:'#app',
            data:{
                flag:true, //if,for ->> true 화면에 보임
                system2:['android', 'ios', 'window'],
                uid:10
            },
            methods:{
                popupAlert:function(){
                    return alert('경고창');
                }
            }
        });
    </script>
</body>
</html>